<%= form_for(@absence) do |f| %>
<div class="row">
  <div class="large-8 columns">
    <div class="row">
      <div class="small-3 columns"><%= f.label :datum %></div>
      <div class="small-9 columns"><%= f.text_field :datum %></div>
    </div>
    <div class="row">
      <div class="small-3 columns"><%= f.label :anzahl %></div>
      <div class="small-9 columns"><%= f.number_field :anzahl %></div>
    </div>
    <div class="row">
      <div class="small-3 columns"><%= f.label :pupil_id %></div>
      <div class="small-9 columns"><%= f.select :pupil_id, Pupil.all.map {|p| [p.vorname + " " + p.nachname, p.id] }, { include_blank: true }, class:'chosen-select' %></div>
    </div>
    <div class="row">
      <div class="small-3 columns"></div>
      <div class="small-9 columns"></div>
    </div>
    <div class="row">
      <div class="small-3 columns"></div>
      <div class="small-9 columns"><%= f.submit "Fehlzeit eintragen", class: "button small large-9", style:"margin-top:20px" %></div>
    </div>
<% end %>
</div>
</div>

