<%= form_for(@absence) do |f| %>
  <% if @absence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@absence.errors.count, "error") %> prohibited this absence from being saved:</h2>

      <ul>
      <% @absence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :datum %><br>
    <%= f.text_field :datum %>

  </div>
  <div class="field">
    <%= f.label :anzahl %><br>
    <%= f.number_field :anzahl %>
  </div>
  <div class="field">
    <%= f.label :pupil_id %><br>
    <%= f.select :pupil_id, Pupil.all.map {|p| [p.vorname + " " + p.nachname, p.id] }, { include_blank: true },
               class:'chosen-select' %>
  </div>
  <div class="actions">
    <%= f.submit "Fehlzeit eintragen" %>
  </div>
<% end %>


