<p id="notice"><%= notice %></p>

<h1><%= t('absences') %></h1>
<h2>Fehlend heute, den <%= Date.today.strftime("%d.%m.%y") %></h2>
<table>
  <thead>
    <tr>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>Klasse</th>
    </tr>
  </thead>
  <tbody>
    <% if @absences_today.size > 0 %>
    <% @absences_today.each do |abs_today| %>
    <tr>
      <td><%= abs_today.pupil.vorname %></td>
      <td><%= abs_today.pupil.nachname %></td>
      <td><%= abs_today.pupil.klasse %></td>
    </tr>
    <% end %>
    <% else %>
    <tr>
      <td colspan="3">keine fehlende Schüler</td>
    </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Datum</th>
      <th>Anzahl</th>
      <th>Pupil</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @absences.each do |absence| %>
      <tr>
        <td><%= absence.datum %></td>
        <td><%= absence.anzahl %></td>
        <td><%= absence.pupil.vorname + " " + absence.pupil.nachname %></td>
        <td><%= link_to 'Show', absence %></td>
        <td><%= link_to 'Edit', edit_absence_path(absence) %></td>
        <td><%= link_to 'Destroy', absence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Fehlzeit eintragen', new_absence_path %>
<%= link_to 'Fehlzeit suchen', search_by_date_absences_path %>