<h1>Listing <%= t "pupils" %></h1>

<table id="pupils_index">
  <thead>
    <tr>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>Klasse</th>
      <th>Hort</th>
      <th>Details</th>
      <th>Ändern</th>
      <th>Löschen</th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @pupils.each do |pupil| %>
      <tr>
        <td><%= pupil.vorname %></td>
        <td><%= pupil.nachname %></td>
        <td><%= pupil.klasse %></td>
        <td><%= pupil.hort %></td>
        <td><%= link_to 'Show', pupil %></td>
        <td><%= link_to 'Edit', edit_pupil_path(pupil) %></td>
        <td><%= link_to 'Destroy', pupil, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pupil', new_pupil_path %>

<h2>Schüler importieren</h2>
<%= form_tag import_pupils_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "importieren" %>
<% end %>